lib/libpardiso500-WIN-X86-64.dll
lib/libpardiso500-WIN-X86-64.exp
lib/libpardiso500-WIN-X86-64.lib
pardiso.lic
test/Debug/*
test/Release/*
doc/html
*~
*.d
*.o
*.suo
*.user

.vs/
Main.cpp
lib/Debug/
lib/Voxelyze_d.exe
lib/Voxelyze_d.ilk
lib/Voxelyze_d.lib
lib/Voxelyze_d.pdb